tjjm/
data/
save/
model_output/
report/
GradCAM_output/
t-SNE_output/


INV_CNN_aug_debug/
INV_CNN_output
unet_aug_debug/
unet_model_output/
temp/
temp_debug/

data/
data_new/

__pycache__

t-SNE-output

ROC-output